# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
JWT_SECRET=change_me

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CF_IMAGES_ACCOUNT_HASH=
NEXT_PUBLIC_CF_IMAGES_HASH=

# Event Theme
EVENT_THEME_JSON_URL=

ADMIN_TOKEN=

ADMIN_EMAILS=
